[Desktop Entry]
Name=CLIP STUDIO
Exec=/usr/local/bin/cspenguin-studio-cpak
Terminal=false
Type=Application
Categories=Graphics;
StartupWMClass=clipstudio.exe
